<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1 align="center" >Image Gallery</h1>
<div  style="text-align:center; margin: auto;"><a href="login">Logout</a></div>
<div>
<p align="center" >
    <img src="static/images/octopus.jpg" alt="static/images/octopus image1" width="300px" >
    <img src="static/images/octopus.jpg" alt="static/images/octopus image" width="300px" >
    <img src="static/images/octopus.jpg" alt="static/images/octopus image" width="300px" >
</p>
</div>
<div>
<p align="center" >
    <img src="static/images/img-1.jpg" alt="static/images/octopus image" width="300px" >
    <img src="static/images/img-1.jpg" alt="static/images/octopus image" width="300px" >
    <img src="static/images/img-1.jpg" alt="static/images/octopus image" width="300px" >
</p>
</div>
<div>
<p align="center" >
    <img src="static/images/octopus.jpg" alt="static/images/octopus image" width="300px" >
    <img src="static/images/octopus.jpg" alt="static/images/octopus image" width="300px" >
    <img src="static/images/octopus.jpg" alt="static/images/octopus image" width="300px" >
</p>
</div>

</body>
</html>
